@import '@/assets/styles/PixelBorder/index.scss';

.inventory {
  &-player{
    &__info {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;
      border-radius: 20px;
    }

    &__bg-img {
      display: flex;
      flex-direction: column;
      width: 95%;
      height: 33%;
      padding: 2%;
      background-image: url('@/assets/bg/inventoryBg.png');
      background-size: cover;
      background-position: bottom;
      @include pixel-border( 2px, rgba(229, 229, 229, 0.45),  rgba(0, 0, 0, 0) );

      & img {
        width: 40%;
        object-fit: contain;
      }
    }

    &__characteristics {
      padding: 5%;
      padding-left: 1%;
      text-align: initial;
      position: relative;
      bottom: -10%;
      height: 42%;
      color: rgba(0, 0, 0, 0.8);
      background-color: #c8b400;
      @include pixel-border( 2px, rgba(213, 184, 0, 0.45),  rgba(0, 0, 0, 0) );

      & p {
        font-size: 18px;
        white-space: nowrap;
        position: relative;
        top: -18%;
      }
    }
  }

  &-tab-icons {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -12%;
    right: 12%;

    & button {
      background-size: cover;
      background-position: center;
      height: 60px;
      width: 60px;
      box-shadow: none;
      border: none;
      background-color: transparent;

      &:hover {
        filter: drop-shadow(0 0 1rem #ccc);
      }

      &:nth-child(1) {
        background-image: url('@/assets/items/icons/bag2.png');
      }

      &:nth-child(2) {
        background-image: url('@/assets/items/icons/book.png');
      }

      &:nth-child(3) {
        background-image: url('@/assets/items/icons/forge.png');
      }
    }
  }
}

.show-inventory {
  z-index: 999;
  position: absolute;
  top: 2%;
  right: 2%;
  background-image: url('@/assets/items/icons/bag.png');
  background-size: cover;
  background-position: center;
  height: 70px;
  width: 70px;
  box-shadow: none;
  border: none;
  background-color: transparent;

  &:hover {
    filter: drop-shadow(0 0 1rem #ccc);
  }

  &__false {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 60px;
    height: 60px;
    box-shadow: none;
    border: none;
    background-color: transparent;
    color: brown;
  }
}